@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 auto;
    max-width: 700px;
    /* border-top: 2px solid rgba(101, 100, 100, 0.2); */
    border-radius: 10px;
    border: 1px solid rgba(101, 100, 100, 0.2);
    box-shadow: 0 4px 8px rgba(101, 100, 100, 0.2);
    padding: 2rem;
}

.container:first-child{
    margin-top: 2rem;
}

.image {
    width: auto;
    max-height: clamp(15rem, 20vw, 25rem);
    border-radius: 1rem;
    margin: 1rem;
}

.title{
    margin: 1.5rem;
    font-size: 2.5ch;
    font-weight: bolder;
    letter-spacing: 0.15ch;
}

.description {
    font-size: 2ch;
    line-height: 2rem;
}
.detailsBtn {
    font-size: 2.5ch;
    font-family: var(--font-oswald);
    font-weight: 500;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
}

.detailsBtn:hover {
    color: var(--color-accent4);
    transition: color 0.5s;
}