.container {
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 3rem;
    min-height: 60rem;
    background-color: var(--color-dark);
}


.image {
    position: relative;
    width: 20rem;
    overflow: hidden;
    height: auto;
    margin: 4rem;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: 1;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--font-oswald);
    margin-bottom: 2rem;
}

.paragraph {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--font-roboto);
    margin-bottom: 1rem;
    line-height: 2rem;
}




