@import '../../vars.css';

.container {
    background-color: var(--color-dark);
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    border: 1px solid rgba(101, 100, 100, 0.4);
    box-shadow: 0 1px 10px rgba(101, 100, 100, 0.4);
    padding: 2rem;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2.5ch;
    letter-spacing: 0.15ch;
    font-weight: 600;
    font-family: var(--font-oswald);
    padding: 1rem;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    font-size: 2ch;
    margin-bottom: 1rem;
    
}

.container input, .container textarea {
    font-size: 2ch;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: var(--color-dark2);
}

.container input[type="submit"] {
    font-size: 2.5ch;
    font-family: var(--font-oswald);
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
    color: whitesmoke
}

.container input[type="submit"]:hover {
    color: var(--color-accent4);
    transition: color 0.5s;
}
