@import '../../vars.css';

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-dark2);
    background-image: url(../../../assets/contact8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(28, 28, 28, 0.8);
    text-align: center;
}



.link {
    font-size: 3ch;
    letter-spacing: 0.15ch;
    font-weight: 600;
    font-family: var(--font-oswald);
    color: var(--color-accent4); 
    margin-top: 1rem;
    text-decoration: none;
    position:relative;
    background-color: none;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: var(--color-accent4);
    width:0;
    transition: width 0.5s ease;
}

.link:hover::after {
    width: 100%;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 20rem;
}

