@import "../../vars.css";

.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(28, 28, 28, 0.75);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal {
  background: #022b46;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(101, 100, 100, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  margin-top: 6rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  max-width: 20rem;
}

.iconWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltipText {
  visibility: hidden;
  width: max-content;
  color: grey;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltipMessage {
  display: block;
  color: grey;
  text-decoration: none;
  font-size: 0.8rem;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  white-space: nowrap;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.icon {
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.icon svg {
  font-size: 2.5rem;
}

.close {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.close:hover {
  transform: scale(1.2);
}
