@import '../../vars.css';

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-bg1);
}

.home {
    font-size: 1.4rem;
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;
}

.menuIcon {
    display: none;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menuItems a {
    font-size:1.4rem;
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;
}

.cvBtn {
    font-size: 1rem;
    font-weight: 600;
    background-color: whitesmoke;
    color: var(--color-bg1);
    padding: 0.3rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


@media screen and (max-width: 780px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position:absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        z-index: 3;
    }

    .menuIcon {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0.5rem;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgb(25, 55, 109, 0.2) 0%, rgb(25, 55, 109, 1) 100%);
        padding: 0.5rem 1rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);        
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

}