@import '../../vars.css';

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-dark2);
}

.home {
    font-size: 1.4rem;
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;
}

.menuIcon {
    display: none;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 2rem;
    list-style: none;
    
}

.menuItems a {
    font-size:1.4rem;
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;
}

.cvBtn {
    font-size: 1rem;
    font-weight: 600;
    background-color: whitesmoke;
    color: var(--color-bg1);
    padding: 0.2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


@media screen and (max-width: 780px) {
    
    .home {
        font-size: 1.2rem;
    }

    .menuItems a {
        font-size: 1.2rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position:absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
        z-index: 3;
        background-color: transparent;
    }

    .menuIcon {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        gap: 0.5rem;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

}