@import "../../../vars.css";

.container {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark2);
}

.nameWrapper {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--color-dark);
}

.spanName {
  color: var(--color-accent4);
  font-size: 3rem;
  font-family: var(--font-oswald);
  margin-bottom: 1rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  font-family: var(--font-oswald);
  z-index: 1000;
}

.name {
  color: var(--color-accent4);
  margin: 0 auto;
  margin-bottom: 0.3rem;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  font-family: var(--font-oswald);
  z-index: 1000;
}

.projectWrapper {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
  flex-grow: 1;
}

.projectDescription {
  display: flex;
  width: 80%;
  padding: 6rem 0;
}

.projectDescription .title {
  width: 40%;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  font-family: var(--font-oswald);
  justify-self: left;
  margin: 4rem 0;
}

.projectDescription p {
  width: 60%;
  align-items: center;
  text-wrap: pretty;
  hyphens: auto;
  font-size: clamp(1.2rem, 1.5vw, 1.2rem);
  line-height: 2rem;
}

.projectDescription span {
  display: block;
  margin-bottom: 1rem;
}
