:root {
    --color-text:#fff;
    --color-primary: #0a3d62;
    --color-secondary: #052029;
    --color-tertiary: #287b8b;
    --color-light: #cef0e7;

    --color-dark: #131d0d;
    --color-bg: #04152d;

    --font-robot: 'Roboto', sans-serif;

}

