:root {
    --color-text:#fff;
    --color-text2:#ebeeed;

    --color-accent1: #fadd3b;
    --color-accent2: #00cdcd;
    --color-accent3: #009acd;
    --color-accent: #ff0000;
    --color-accent4: #ff0000;
    --color-accent5: #c80815;
    --color-accent6: #009acd;

    --color-light1: #c26d6df6; 
    --color-light2: #021e296b;
    --color-dark1: #021e29e3;
    --color-dark2: #02151de4;


   

    --font-outfit: 'Outfit', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-sans: 'Open-Sans', sans-serif;
    --font-alegreya: 'Alegreya', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-barlow: 'Barlow-Condensed', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
    
}

