:root {
    --color-text:white;

    --color-accent1: #fadd3b;
    --color-accent2: #00cdcd;
    --color-accent3: #009acd;
    --color-accent4: #ff0000;
    --color-accent5: #c80815;
    --color-accent6: #009acd;

    --color-bg1: #07161f;
    --color-bg2: #f0c9c9;
    --color-bg3: #f34a4a;
    --color-bg3: #5e0707;

    --color-dark: #07161f;;
    --color-light: #f0c9c9;
    

   

    --font-outfit: 'Outfit', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-sans: 'Open-Sans', sans-serif;
    --font-alegreya: 'Alegreya', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-barlow: 'Barlow-Condensed', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
    
}

